@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~compass-mixins/lib/compass/css3'; // n is number of stars required
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

:root {
  --foreground-rgb: 0, 0, 0;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.custom-title {
  background: linear-gradient(white, #8ba1b7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

@function multiple-box-shadow($n) {
  $value: '#{random(100)}vw #{random(100)}vh #FFF';

  @for $i from 2 through $n {
    $value: '#{$value}, #{random(100)}vw #{random(300)}vh #FFF';
  }

  @return unquote($value);
}

$shadows-small: multiple-box-shadow(250);
$shadows-medium: multiple-box-shadow(150);
$shadows-big: multiple-box-shadow(75);

#stars {
  width: 0.1vh;
  height: 0.1vh;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;

  &:after {
    content: ' ';
    position: absolute;
    top: 100vh;
    width: 0.1vh;
    height: 0.1vh;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

#stars2 {
  width: 0.2vh;
  height: 0.2vh;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;

  &:after {
    content: ' ';
    position: absolute;
    top: 100vh;
    width: 0.2vh;
    height: 0.2vh;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

#stars3 {
  width: 0.3vh;
  height: 0.3vh;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;

  &:after {
    content: ' ';
    position: absolute;
    top: 100vh;
    width: 0.3vh;
    height: 0.3vh;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

.shadowText {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.gradientText {
  background: linear-gradient(white, #8ba1b7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-100vh);
  }
}
